*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
}

h1{
    text-align: center;
}

h2{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

p{
    text-align: center;
}

.titleArea{
    display: block;
    margin: 80px 0px 120px 0px;
}

#titleButton{
    cursor: pointer;
}

.titleArea h1{
    padding-bottom: 18px;
}

.title{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem rgba(154, 185, 225, 0.421));
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
}

.inputArea{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 12px;
}

#titleInput{
    border: none;
    background-color: #E4E4E4;
    color: gray;
    text-align: center;
    height: 40px;
    border-radius: 20px;
}

#titleButton{
    border: none;
    background-color: #216EFD;
    color: white;
    height: 40px;
    border-radius: 20px;
}

#counterArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 30px;
    margin: 0px 30px;
}

.counter{
    display: block;
    height: 110px;
    width: 200px;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem rgba(154, 185, 225, 0.421));
    border-radius: 8px;
    margin: 0 auto;
}

.counterInner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.counterInnerer{
    text-align: center;
}

.counterTitle{
    padding-bottom: 3px;
}

.number{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

.buttonArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.buttonArea input{
    padding: 1px 5px 1px 5px;
    border: none;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.plusMinus{
    background-color: green;
    font-size: 12px;
}

.deleteReset{
    background-color: red;
    font-size: 10px;
}

.time{
    color: gray;
    font-size: 8px;
    margin-top: 6px;
    text-align: right;
}

#modalArea{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.modalInner{
    width: 240px;
}

.modalInner h2{
    font-size: 24px;
}

.modalInner h2 span{
    color: red;
}

#modalTitle{
    font-size: 30px;
    margin: 20px 0px 26px 0px;
}

.modalButton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.modalButton input{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.modalYesButton{
    background-color: green;
}

.modalNoButton{
    background-color: red;
}

@media(max-width: 728px){
    
    h1{
        font-size: 24px;
    }

    .titleArea h1{
        padding-bottom: 12px;
    }

    h2{
        font-size: 12px;
    }

    .titleArea{
        margin: 50px 0px 90px 0px;
    }

    .title{
        width: 240px;
        padding: 10px 20px 20px 20px;
    }
    
    .inputArea{
        grid-template-columns: 1fr;
        gap: 8px;
    }

    #titleInput{
        height: 32px;
        border-radius: 20px;
    }

    #titleButton{
        height: 32px;
        border-radius: 14px;
    }

    #counterArea{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 500px) {
    
    .titleArea{
        margin: 50px 0px 60px 0px;
    }

    #counterArea{
        grid-template-columns: 1fr;
    }

    .modal{
        top: 50%;
        left: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    }
    
    .modalInner{
        width: 160px;
    }
    
    .modalInner h2{
        font-size: 16px;
    }
    
    #modalTitle{
        font-size: 22px;
        margin: 20px 0px 26px 0px;
    }
    
    .modalButton{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 8px;
    }
    
    .modalButton input{
        width: 140px;
        height: 28px;
    }
}